<!DOCTYPE html>
<html>
<title>Admin</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin.css">
<link rel="shortcut icon" href="/admin1.png" style="border-radius:1rem ;">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-sidenav a,.w3-sidenav h4 {font-weight:bold}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
  <script lang="javascript">
        
    window.onload = function() {
        //considering there aren't any hashes in the urls already
        if(!window.location.hash) {
            //setting window location
            window.location = window.location + '#loaded';
            //using reload() method to reload web page
            window.location.reload();
        }
    }
          </script>

<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
  <div class="w3-container">
    
    <img src="/admin.jpg" style="width:100%;" class="w3-round"><br><br>
    <h4 class="w3-padding-0"><b>Admin</b></h4>
    
  </div>
  <a href="/adminMain" class="w3-padding">DASHBROAD</a> 
  <a href="/adminChild" class="w3-padding w3-text-teal">DETAIL</a> 
  <a href="/deleteBlog" class="w3-padding " >DELETE OR DETAIL OF BLOG</a>
  <a href="/addDoctor" class="w3-padding">ADD DOCTOR</a> 
  <a href="/addTrainer" class="w3-padding">ADD TRAINER</a>
  <a href="/addCoach" class="w3-padding">ADD NUTRITION COACH</a>
  <a href="/addBlog" class="w3-padding">ADD BLOG DETAIL</a>
  <a href="/" class="w3-padding logout">LOGOUT</a>
 
</nav>





<div class="w3-main" style="margin-left:300px">

 
  <header class="w3-container">
    
    <h1><b>DETAILS</b></h1>
    
  </header>
  <div>
  <h2 class="headingDoctor">Doctor</h2>
  <br>
  <% for( let i=0;i<doctorNameArray.length;i++){ %>

  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
     
      <div class="w3-container w3-white">
        <p><b><%= doctorNameArray[i] %> </b></p>
        <p><%= doctorPhoneArray[i] %> </p>
        <p><%= doctorQualificationArray[i] %> </p>
        <p><%= doctorGenderArray[i] %> </p>
        <p><%= doctorAddressArray[i] %> </p>
      </div>
    </div>
    <% } %>
  </div>
  <div>
    <br>
    <h2 class="headingDoctor">Trainer</h2>
    <% for( let i=0;i<trainerNameArray.length;i++){ %>
    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
         
          <div class="w3-container w3-white">
            <p><b><%= trainerNameArray[i] %> </b></p>
        <p><%= trainerPhoneArray[i] %> </p>
        <p><%= trainerExperienceArray[i] %> </p>
        <p><%= trainerGenderArray[i] %> </p>
        <p><%= trainerAddressArray[i] %> </p>
          </div>
        </div>
        <% } %>
      </div>
      <div >
<br>
<h2 class="headingDoctor">Nutrition Coach</h2>
<% for(let i=0;i<coachNameArray.length;i++){ %>
        <div class="w3-row-padding">
            <div class="w3-third w3-container w3-margin-bottom">
             
              <div class="w3-container w3-white">
                <p><b><%= coachNameArray[i] %></b></p>
                <p><%= coachGenderArray[i] %> </p>
                  <p><%= coachExperienceArray[i] %> </p>
                  <p><%= coachPhoneArray[i] %> </p>
                  <p><%= coachAddressArray[i] %> </p>
              </div>
            </div>
          </div>
          <% } %> 

  
 


</div>

<script>

function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
    document.getElementsByClassName("w3-overlay")[0].style.display = "block";
}
 
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
    document.getElementsByClassName("w3-overlay")[0].style.display = "none";
}
</script>

</body>
</html>
