<%-include("partials/heading")%>


      <div class="container">
          
          	<header class="intro">
	<h1> COVID TRACKER </h1>
	
	</header>
          
          
        <div class="leftbox">
          <div class="clickSearch"><p class="click"><%=state%></p></div>
          
          <form method="post"  class="search-bar" >
            <input type="search" name="search" pattern=".*\S.*" required >
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
          <div class="confirmedCase">Confirmed<br><div class="data"><%=confirmed1%></div></div>
          
          
          <div class="deceasedCase">Deceased<br><div class="data"><%=deaths1%></div></div>
          <div class="recoveredCase">Recovered<br><div class="data"><%=recovered1%></div></div>
        </div>
        
        <div class="rightbox">
          <div class="india">India</div>
        </div>
 
      </div>
  </div>
  
</div>	
    <%-include("partials/footer")%>