<%-include("partials/heading")%>


      <div class="container">
          
          	<header class="intro">
	<h1> COVID TRACKER </h1>
	
	</header>
          
          
        <div class="leftbox">
          <div class="clickSearch"><p class="click"><%=state%></p></div>
          
          <form method="post"  class="search-bar" >
            <input type="search" name="search" pattern=".*\S.*" required >
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
          <div class="confirmedCase">Confirmed<br><div class="data"><%=confirmed1%></div></div>
          
          
          <div class="deceasedCase">Deceased<br><div class="data"><%=deaths1%></div></div>
          <div class="recoveredCase">Recovered<br><div class="data"><%=recovered1%></div></div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">State/UT</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Active</th>
                <th scope="col">Recovered</th>
                <th scope="col">Deceased</th>
              </tr>
            </thead>
            <tbody>
              <%  for(let a=0;a<37;a++) { %>
              <tr>
              
              
                <th scope="row"><%=stateNames[a]%></th>
                
                <td class="red"><%=tableConfirmed[a]%></td>
                <td class="blue"><%=tableActive[a]%></td>
                <td class="green"><%=tableRecovered[a]%></td>
                <td class="grey"><%=tableDeceased[a]%></td>
              
              </tr>
              <%}%>
            
            </tbody>
          </table>
        </div>
        
        <div class="rightbox">
          <div class="india">India</div>
        </div>
 
      </div>
  </div>
  
</div>	
    <%-include("partials/footer")%>